.app__nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #1976d2;
}

.app__nav .app__nav-logo {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 3rem;
}

.app__nav .app__nav-logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.app__nav .app__nav-logo span {
  font-size: 1rem;
  color: #fff;
  font-family: "Montserrat";
  margin-left: 10px;
}

.app__nav .app__nav-links {
  width: calc(100% - 80%);
}

.app__nav .app__nav-links ul {
  display: flex;
  list-style: none;
}

.app__nav .app__nav-links ul li:nth-child(1) {
  margin-right: 10px;
}

.app__nav .app__nav-links ul li:nth-child(2) {
  margin-right: 10px;
}

.app__nav .app__nav-links ul li:last-child {
  margin-left: 1rem;
}

.app__nav .app__nav-links ul li a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Montserrat";
}

.app__nav .app__nav-links ul li a:hover {
  color: #F4DA7E;
}

@media screen and (max-width: 400px) {
  .app__nav .app__nav-logo {
    width: 40%;
    margin-left: 0rem;
    font-size: 0.9rem;
  }

  .app__nav .app__nav-links ul li a {
    font-size: 0.9rem;
  }

}

@media screen and (max-width: 1020px) and (min-width: 500px) {
  .app__nav .app__nav-logo {
    width: 50%;
  }

  .app__nav .app__nav-links ul li a {
    font-size: 1rem;
  }
}
