.login {
  width: 600px;
  max-width: 100%;
  margin: 10rem auto;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form .MuiFormControl-root {
  width: 80%;
  max-width: 95%;
}

.login form .MuiFormControl-root:nth-child(1) {
  margin-bottom: 20px !important;
}

.login .MuiCardHeader-content {
  background-color: #1976d2;
  border-color: #1976d2;
  border-radius: 4px;
}

.login .MuiCardHeader-content span {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fff;
  padding: 5px;
}

.login .MuiCardActions-root {
  flex-direction: column;
}

.login .MuiCardActions-root > button {
  margin: 1rem auto;
  border-radius: 4px;
  background-color: #1976d2;
  border-color: #1976d2;
  color: #fff;
  width: 200px;
  max-width: 95%;
}

.login .MuiCardActions-root > button:hover {
  opacity: 0.8;
}
